.app {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content"
   ;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar {
  display: grid;
  grid-gap: 20px;
  width: 300px;
  margin-left: 10px;
  margin-top: 90px;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-decoration: none;
}
.header {
  /* background-color: aqua; */
  height: 50px;
  text-align: center;
  grid-area: header;
}

.nav {
  /* background-color: rgb(197, 189, 189); */
  grid-area: nav;
  word-wrap: break-word;
}

.main {
  /* background-color: blanchedalmond; */
  grid-area: content;
}
.coin-detail-container{
  margin: 30px;
}
.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.stats-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.stats-container h2{
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}
.coin-stats{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;

}

.coin-stats-name{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.coin-value-statistics-heading p{
  font-size: 1rem;
  opacity: 0.9;
}
.chart-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title{
  color: #0071bd !important;
}
.price-container{
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change{
  font-weight: 900 !important;
  margin-top: 0px !important;
}
.current-price{
  margin-top: 0px !important;
  font-weight: 900 !important;
  color: grey;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

}
@media screen and (max-width: 500px){
  .coin-links{
      padding: 0px;
  }
  .coin-detail-container{
      margin: 0;
  }
}
@media screen and (max-width:1000px){
  .stats-container{
      flex-direction: column;
  }
  .coin-desc-link{
      flex-direction: column;
  }
  .stats-container h2{
      margin-top: 0px;
  }
}