.app {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content"
   ;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar {
  display: grid;
  grid-gap: 20px;
  width: 300px;
  margin-left: 10px;
  margin-top: 90px;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-decoration: none;
}
.header {
  /* background-color: aqua; */
  height: 50px;
  text-align: center;
  grid-area: header;
}
.search-crypto{
  margin: 20px auto 30px auto;
  width: 250px;
}
.nav {
  /* background-color: rgb(197, 189, 189); */
  /* background-color: #adadad; */
  grid-area: nav;
  word-wrap: break-word;
}

.main {
  /* background-color: blanchedalmond; */
  grid-area: content;
  padding: 20px;
}
.coin-detail-container{
  margin: 30px;
}
.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .app {
    display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "content content content"
   ;
   grid-template-rows: 1fr 1fr 1fr
  }
  .header {
    /* background-color: aqua; */
    height: 50px;
    text-align: center;
    grid-area: header;
  }
  .sidebar {
    grid-area: nav;
  word-wrap: break-word;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-decoration: none;
  }
}